* {
    margin: 0;
    padding: 0;
}

.section1{
    background-color: #1f2937;
}

#logo {
font-size: 24px;
color: #f9faf8;
}
.headerlink{
    font-size: 18px;
    color: #e5e7e8;
    margin: 10px;
    padding-right: 60px;
}
a:hover{
    border: 10px solid  #394b75;
    background-color: #394b75;
    border-radius: 5px;
    
}
a:visited{
    text-decoration: none;
    color: #e5e7eb;
}
.navbar{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

ul{
    display: flex;
    flex-direction: row;
}
.navleft, .navright {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.contentright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.contentleft {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 400px;



}
img{
    margin-right: 400px;
    margin-bottom: 50px;
    border-radius: 15px;
    }
.pfirst{
    font-size: 18px;
    color: #e5e7e8;
    margin-top: 10px;
}
.button{
    margin-top: 30px;
    background-color: #3882f8;
    color: white;
    width: 100px;
    height: 40px;
    border: 5px darkblue;
    border-radius: 10px;

}
h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #000000
}
.rowofdivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 80px;
    margin-top: 60px;
    align-items: center;
    margin-inline-start: 300px;
    margin-inline-end: 300px;

    
}
.boxblue{
    border-radius: 25px;
    width: 200px;
    height: 200px;
    border: 3px solid #3882f8;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.psecond{
    text-align: center;
    font-size: 18px;
}
.section3{
    background-color: #e5e7eb;
    height: 600px;
}
.pthird{
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    padding-top: 240px;
    margin-inline-start: 200px;
    margin-inline-end: 200px;

}

.insideblue{
    border: 3px solid #3882f8;
    margin: 100px;
    height: 150px;
    background-color: #3882f8;
    border-radius: 10px;
    margin-inline-start: 450px;
    margin-inline-end: 450px;
}

h3{
    color: #e5e7eb;
    font-size: 27px;
    margin-inline-start: 150px;
    margin-top: 45px;
}
.pfour{
    color: #e5e7eb;
    font-size: 20px;
    margin-inline-start: 150px;
    margin-top: 3px;
}

.inside{
    display: flex;
    flex-direction: column;
}
.insideblue{
    display: flex;
    flex-direction: row;
}
.button2{
    margin-left: 100px;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #3882f8;
    font-size: medium;
    font-weight: 550;
}
.section5{
    background-color: #1f2937;
    height: 70px;
}
.pfive{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 25px;
} 

.boxblue1
{
    background-image: url(https://images.pexels.com/photos/208984/pexels-photo-208984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    
}

.boxblue2{
    background-image: url(https://images.pexels.com/photos/1314550/pexels-photo-1314550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
.boxblue3{
    background-image: url(https://images.pexels.com/photos/821736/pexels-photo-821736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
.boxblue4{
    background-image: url(https://images.pexels.com/photos/2071882/pexels-photo-2071882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 200px 250px;

}